include AUTHORS
include ChangeLog
include CONTRIBUTING.rst
include HACKING.rst
include LICENSE
include README.rst
include MANIFEST.in pylintrc
include openstack-common.conf
include babel.cfg install.sh run_tests.sh tox.ini uninstall.sh
include heat/cloudinit/config
include heat/cloudinit/boothook.sh
include heat/cloudinit/loguserdata.py
include heat/cloudinit/part-handler.py
include heat/db/sqlalchemy/migrate_repo/migrate.cfg
include heat/db/sqlalchemy/migrate_repo/README
include heat/openstack/common/README
include heat/testing/README.rst
include heat/tests/examples/tags.txt
include heat/tests/testing-overview.txt
include heat/tests/v1_1/testfile.txt
include heat/tests/policy/deny_stack_user.json
include heat/tests/policy/notallowed.json
graft contrib
graft etc
graft doc
graft tools
