include AUTHORS
include ChangeLog
include HACKING.rst
include LICENSE
include README.rst
include MANIFEST.in pylintrc
include openstack-common.conf
include babel.cfg
graft templates
include heat/jeos/F16-i386-gold-jeos.tdl
include heat/jeos/F17-i386-gold-jeos.tdl
include heat/jeos/F16-i386-cfntools-jeos.tdl
include heat/jeos/F17-i386-cfntools-jeos.tdl
include heat/jeos/F16-x86_64-gold-jeos.tdl
include heat/jeos/F17-x86_64-gold-jeos.tdl
include heat/jeos/F16-x86_64-cfntools-jeos.tdl
include heat/jeos/F17-x86_64-cfntools-jeos.tdl
include heat/jeos/U10-amd64-cfntools-jeos.tdl
include heat/cfntools/cfn-init
include heat/cfntools/cfn-hup
include heat/cfntools/cfn-signal
include heat/cfntools/cfn-get-metadata
include heat/cloudinit/config
include heat/cloudinit/part-handler.py
include heat/db/sqlalchemy/migrate_repo/migrate.cfg
graft etc
graft docs
