# Hacking already pins down pep8, pyflakes and flake8
hacking>=0.8.0,<0.9

coverage>=3.6
discover
mock>=1.0
mox>=0.5.3
testtools>=0.9.34
testrepository>=0.0.18
testscenarios>=0.4
python-glanceclient>=0.9.0
sphinx>=1.1.2,<1.1.999
oslosphinx
lockfile>=0.8
