[DEFAULT]


[heat_plugin]

#
# From heat_integrationtests.common.config
#

# Catalog type of the orchestration service. (string value)
#catalog_type = orchestration

# Username to use for non admin API requests. (string value)
#username = <None>

# Non admin API key to use when authenticating. (string value)
#password = <None>

# Username to use for admin API requests. (string value)
#admin_username = <None>

# Admin API key to use when authentication. (string value)
#admin_password = <None>

# Tenant name to use for API requests. (string value)
#tenant_name = <None>

# Admin tenant name to use for admin API requests. (string value)
#admin_tenant_name = admin

# Full URI of the OpenStack Identity API (Keystone) (string value)
#auth_url = <None>

# User domain name, if keystone v3 auth_urlis used (string value)
#user_domain_name = <None>

# Project domain name, if keystone v3 auth_urlis used (string value)
#project_domain_name = <None>

# The region name to use (string value)
#region = <None>

# Instance type for tests. Needs to be big enough for a full OS plus the test
# workload (string value)
#instance_type = <None>

# Instance type enough for simplest cases. (string value)
#minimal_instance_type = <None>

# Name of image to use for tests which boot servers. (string value)
#image_ref = <None>

# Name of existing keypair to launch servers with. (string value)
#keypair_name = <None>

# Name of minimal (e.g cirros) image to use when launching test instances.
# (string value)
#minimal_image_ref = <None>

# Set to True if using self-signed SSL certificates. (boolean value)
#disable_ssl_certificate_validation = false

# CA certificate to pass for servers that have https endpoint. (string value)
#ca_file = <None>

# Time in seconds between build status checks. (integer value)
#build_interval = 4

# Timeout in seconds to wait for a stack to build. (integer value)
#build_timeout = 1200

# Network used for SSH connections. (string value)
#network_for_ssh = heat-net

# Visible fixed network name  (string value)
#fixed_network_name = heat-net

# Visible floating network name  (string value)
#floating_network_name = public

# Path to environment file which defines the resource type
# Heat::InstallConfigAgent. Needs to be appropriate for the image_ref. (string
# value)
#boot_config_env = heat_integrationtests/scenario/templates/boot_config_none_env.yaml

# Visible fixed sub-network name  (string value)
#fixed_subnet_name = heat-subnet

# Timeout in seconds to wait for authentication to succeed. (integer value)
#ssh_timeout = 300

# IP version used for SSH connections. (integer value)
#ip_version_for_ssh = 4

# Timeout in seconds to wait for output from ssh channel. (integer value)
#ssh_channel_timeout = 60

# The mask bits for tenant ipv4 subnets (integer value)
#tenant_network_mask_bits = 28

# Skip all scenario tests (boolean value)
#skip_scenario_tests = false

# Skip all functional tests (boolean value)
#skip_functional_tests = false

# List of functional test class or class.method names to skip ex.
# AutoscalingGroupTest,InstanceGroupBasicTest.test_size_updates_work (list
# value)
#skip_functional_test_list = <None>

# List of scenario test class or class.method names to skip ex.
# NeutronLoadBalancerTest, AodhAlarmTest.test_alarm (list value)
#skip_scenario_test_list = <None>

# List of stack actions in tests to skip ex. ABANDON, ADOPT, SUSPEND, RESUME
# (list value)
#skip_test_stack_action_list = <None>

# Default size in GB for volumes created by volumes tests (integer value)
#volume_size = 1

# Timeout in seconds to wait for connectivity to server. (integer value)
#connectivity_timeout = 120

# Timeout in seconds to wait for adding or removing childprocess after
# receiving of sighup signal (integer value)
#sighup_timeout = 30

# Count of retries to edit config file during sighup. If another worker already
# edit config file, file can be busy, so need to wait and try edit file again.
# (integer value)
#sighup_config_edit_retries = 10

# Path to the script heat-config-notify (string value)
#heat_config_notify_script = heat-config-notify
