kombu>=2.5.0
oslo.log>=1.0.0,<1.1.0  # Apache-2.0
oslo.messaging>=1.8.0,<1.9.0  # Apache-2.0
oslo.config>=1.9.3,<1.10.0  # Apache-2.0
oslo.utils>=1.4.0,<1.5.0  # Apache-2.0
paramiko>=1.13.0
python-cinderclient>=1.1.0
python-keystoneclient>=1.1.0
python-heatclient>=0.3.0
python-neutronclient>=2.3.11,<3
python-novaclient>=2.22.0
python-swiftclient>=2.2.0
PyYAML>=3.1.0
requests>=2.2.0,!=2.4.0
six>=1.9.0
testrepository>=0.0.18
testscenarios>=0.4
testtools>=0.9.36,!=1.2.0
